body {
	margin: 0;
	padding: 0;
	/*width: 100%;*/
	background: url(../img/board.jpg) no-repeat;
	background-size: cover;
	background-position: inherit;
}

.loginbox {
	width: 480px;
	height: 320px;
	background: #00000075;
    color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
    padding: 50px 30px;

}

.loginbox h2 {
	font-size: 40px;
	font-family: Heebo;
	border-bottom: 4px solid #67402c;
	float: left;
	color: #7e4f4f;

}

.textbox {
	background: none;
	width: 220px;
	border-bottom: 2px solid #67402c; 
	border-top: none;
	border-left: none; 
	border-right: none; 
	padding: 0  0 3px 3px;
	overflow: hidden;
	outline: none;
	color: white;
}

.btn {
	background: none;
	margin-top: 10px;
	border: 2px solid #67402c;
	width: 225px;
	color: #7e4f4f;
	font-size: 15px;
}
